// General styles

a:hover {
    text-decoration: none;
}

@media (min-width: 1200px) {
    .mainmenu {
        float: left;
        width: 220px;
    }
    #content {
        float: right;
        width: 900px;
    }
}

.container {
    padding: 0;
}

.page-header {
    border: 1px solid $gray-lighter;
    margin: 0 0 30px;
    padding: 0;
    line-height: 50px;

    &::before {
        background: $brand-primary url("../images/img-letter.png") center center no-repeat;
        content: " ";
        display: block;
        float: left;
        height: 50px;
        margin-right: 15px;
        width: 50px;
    }

    h1 {
        color: #373737;
        font-size: 1.286em;
        margin: 0;
        line-height: 50px;
    }
}

.search-control {
    margin-bottom: 20px;

    .input-group {
        width: 200px;
    }

    .form-control {
        background-color: #f0f0f0;
        border-radius: 2px 0 0 2px;
        border-width: 0;
        color: #6c6c6c;
        font-size: 0.857em;
        text-align: right;
    }

    .input-group-addon {
        background-color: $brand-primary;
        border-radius: 0 2px 2px 0;
        border-width: 0;
        color: #fff;
    }

    .divider-left {
        border-left: 1px solid $gray-lighter;
    }

    .btn-remove {
        border-radius: 2px;
    }

}

.pager {
    .btn-previous, .btn-next {
        background-color: $brand-primary;
        border: 0;
        border-radius: 4px;
        color: #fff;
        line-height: 30px;

        &:hover {
            background-color: darken($brand-primary, 5%) ;
        }
    }
}

.glyphicon-search,
.glyphicon-trash,
.glyphicon-triangle-left,
.glyphicon-triangle-right {
    @include icon-shadow();
}




