// Menu styles

.mainmenu {
    background-color: #f8f8f8;
    border: 1px solid #e3e3e3;

    .logo {
        background: $brand-primary url("../images/img-sprite.png") -71px 45px no-repeat;
        height: 135px;
        margin: 0;
    }

    h3 {
        border-bottom: 1px solid #e3e3e3;
        border-left: 18px solid #e3e3e3;
        font-size: inherit;
        margin: 0;
        padding: 35px 10px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        &:last-child li:last-child a {
            border-bottom: 0;
        }
    }

    a {
        border-bottom: 1px solid #e3e3e3;
        border-left: 6px solid #f8f8f8;
        border-top: 1px solid #fff;
        display: block;
        padding: 15px 8px 12px 15px;
        text-transform: uppercase;

        &::before {
            background-image: url("../images/img-sprite.png");
            background-repeat: no-repeat;
            content: "";
            display: inline-block;
            height: 21px;
            margin-right: 10px;
            vertical-align: middle;
            width: 25px;
        }

        &::after {
            content: "\e258";
            display: inline-block;
            float: right;
            font-family: 'Glyphicons Halflings';
            font-size: 0.714em;
            margin-top: 2px;
        }

        @include menu-item-icon("menu-item-market", -2px, 0);
        @include menu-item-icon("menu-item-product", -2px, -40px);
        @include menu-item-icon("menu-item-sales", -2px, -84px);
        @include menu-item-icon("menu-item-shopping", 0, -124px);
        @include menu-item-icon("menu-item-expander", 0, -167px);

        &:hover {
            border-left-color: $brand-primary;

            @include menu-item-icon("menu-item-market", -40px, 0);
            @include menu-item-icon("menu-item-product", -40px, -40px);
            @include menu-item-icon("menu-item-sales", -40px, -84px);
            @include menu-item-icon("menu-item-shopping", -38px, -124px);
        }
    }
}
